@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
@import url(http://fonts.googleapis.com/css?family=Delius|Delius+Unicase:400,700);
@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);

* {
    margin:0;
    padding:0;
}

body {
    color: #3f3f3f;
    font: 16px/1.5em 'Roboto Slab', serif;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}



h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 1.25em;
    margin: 1em 0 0.75em 0;
}
h2:first-child {
    margin-top: 0;
}

h3 {
    font-size: 24px;
    line-height: 1.25em;
    margin: 1em 0 0.75em 0;
}

p {
    margin-bottom: 24px;
}
.footnote {
    font-size: 12px;
}

a {
    color: #00b6c2;
}
a:hover {
    color: #11c6d2;
}

.button {
    background-color: #00b6c2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    padding: 0.75em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.button:hover {
    background-color: #11c6d2;
    color: #fff;
}

img {
    width: 100%;
}

header {
    margin-bottom: 30px;
    padding: 10px 0;
}

header img {
    width: 195px !important;
}

header h1.third {
    margin-bottom: 0;
}
header h1 a { 
    background: url(/img/logo.gif) left center no-repeat;
    display: block;
    margin-top: 10px;
    max-height: 48px;
    max-width: 195px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

nav a {
    border-bottom: 4px solid #ffffff;
    color: #555;
    display: inline-block;
    font: 18px/1.25em 'Oswald', sans-serif;
    margin-left: 10px;
    margin-top: 18px;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover, nav a.current {
    background-color: #efefef;
    border-bottom: 4px solid #00b6c2;
    color: #555;
}

article h1 {
    margin-bottom: 8px;
}

article h1+img {
    margin-bottom: 24px;
}

article h2 {
    margin-bottom: 12px;
}

aside h3 {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 32px;   
}

aside h3:first-child {
    margin-bottom: 2px;
    margin-top: 10px;
}

aside ul {
    font-size: 16px;
    line-height: 32px;
    list-style-type: none;
}

aside a {
    color: #00b6c2;
    text-decoration: none;
}

aside.last a:after {
   content: " >";
}

figure {
    margin-bottom: -8px;
}

figcaption {
    font-size: 12px;
    margin-bottom: 24px;
    margin-top: -6px;
}


footer {
    background-color: #00b6c2;
    clear: both;
    color: #ffffff;
    font-weight: 300;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #bffbff;
}

footer ul {
    list-style-type: none;
    margin-top: 24px;
}

footer .last {
    font-size: 14px;
}

footer .last ul {
    margin-bottom: 20px;
}

footer p {
    font-size: 12px;
    line-height: 6px;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}
.wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.full, .third, .half, .quarter {
    margin-bottom: 32px;
}

.third {
    float: left;
    padding-right: 2%; 
    width: 32%;
}

.twothird {
    float: left;
    padding-right: 8%; 
    width: 58%;    
}

.quarter {
    float: left;
    padding-right: 2%;
    width: 23%;
}

.half {
    float: left;
    padding-right: 2%;
    width: 49%;
}

.half.gutter {
    padding-right: 9%;
    width: 41%;
}

.last { /* :last-child isnt' supported in IE8 */
    padding-right: 0;
}

.clearfix {
    clear: both;
    display: block;
}

/* BEGIN modules */

.dateline {
    color: #3f3f3f;
    font-weight: 700;
}

.banner {
    font-family: 'Oswald', sans-serif;
    position: relative;
    text-align: center;
}

.banner.full {
    clear: left;
    margin-top: -20px;
    padding: 10px 0 15px 0;
}
.banner.full:after {
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 0;
    left: 49%;
    position: absolute;
    width: 0;
}

.banner.full h2 {
    font-family: 'Delius Unicase', cursive;
    color: #ffffff;
    font-weight: 400;
    font-size: 21px;
    margin: 0;
    padding: 5px;
}

.banner.full h2 a:link, h2 a:visited{
    color: #ffffff;
    text-decoration: none;
}

.banner.full h2 a:hover{
    color: #e0e0e0;
    text-decoration: underline;
}

.banner img {
    margin-bottom: 16px;
}

.banner p {
    font-size: 18px;
    line-height: 1.5em;
    padding: 0 5%;
}

.home .banner.full {
    padding: 0;
}

.home .banner.full:after {
    display: none;
}

.home .banner.full h1 {
    font-family: 'Delius', cursive;
    background-color: #3f3f3f;
    clear: both;
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
    left: 50%;
    margin-left: -220px;
    margin-top: -30px;
    padding: 5px 20px;
    position: absolute;
    text-align: left;
    top: 30%;
}

.home .banner.full h2 {
    font-family: 'Delius', cursive;
    color: #ff1c6e;
    font-size: 24px;
}

.home .banner img {
    margin: 0 5% 15px 5%;
    width: 90%;
}

.promo {
    margin-bottom: 45px;
}
.promo img {
    margin-bottom: -6px;
}

.promo h3 {
    font-family: 'Delius Unicase', cursive;
    background-color: #01cdec;
    margin-top: 0;
    padding: 8px 0;
    text-align: center;
    font-weight: 400;
    /*text-transform: uppercase; */
}

.banner.full.upper-elementary {
    background-color: #01cdec;
}

.promo.level-middle h3, .banner.full.middle-school {
    background-color: #7d669f;
}

.promo.level-high h3, .banner.full.high-school {
    background-color: #6eae2f;
}

.promo h3 a {
    color: #ffffff;
    text-decoration: none;
}

.levels .featured h2 {
    font-family: 'Delius', cursive;
    background-color: #3f3f3f;
    color: #fff;
    display: inline-block;
    margin-bottom: 25px;
    padding: 15px 20px;
}

.explorers {
    clear: left;
}
.explorers h2 {
    margin-bottom: 15px;
}
.explorers__item .img {
    margin-bottom: 15px;
    max-height: 135px;
    overflow: hidden;
}
.explorers__item h3 {
    margin-bottom: 5px;
}
.explorers__item a {
    text-decoration: none;
}
.explorer-detail {
    clear: left;
    padding: 20px 0;
}
.explorer-detail .role {
    color: #777;
    font-family: 'Roboto Slab', serif;
    font-size: 21px;
    font-weight: normal;
}
.explorer-detail__img {
    width: 100%;
}
.explorer-detail__social {
    margin: 10px 0;
}
.explorer-detail__social h2 {
    font-size: 21px;
}

.sidebar--about {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5%;
}
.sidebar--about .button {
    font-size: 21px;
    width: 100%;
}

.signature {
    font-size: 36px;
    font-family: "Give You Glory", cursive;
}

.signature.high-school {
    color: #6eae2f;
}
.signature.middle-school {
    color: #7d669f;
}
.signature.upper-elementary {
    color: #01cdec;
}


img.social {
    margin-right: 10px;
    width: 40px;
}

.clear {
    clear: both;
    display: block;
}

/* END modules */

@media (max-width: 860px) {
    nav a {
        margin-left: 0;
    }  
}

@media (max-width: 600px) {
    header h1 {
        margin-top: 20px;
    }
    header h1 a {
        margin: 0 auto;
    }
    .wrapper {
        width: 95%;
    }
    
    .half, .third, .twothird, .quarter, .half.gutter {
        width: 100%;
    }
    
    .half.gutter {
        padding-right: 2%;
    }

    .banner.full h1 {
        margin-top: -120px;
    }
    
    .banner p {
        padding: 0;
        text-align: left;   
    }
    .sidebar--about {
        padding-left: 0;
    }
    
}
